{% extends "base.html" %}

{% block content %}
<div style="border: 2px solid #000;">
    <h1>This is the body</h1>
    <p>Welcome to my personal site! I'm so glad you're here.</p>

    {% comment %} <p>{{some_text}}</p>
    <p>{{some_number}}</p>
    <p>{{some_list}}</p> {% endcomment %}

    {% for account in accounts %}
        <p>{{ account.username }}</p>
        <p>{{ account.email }}</p>
        <p>{{ account.date_joined }}</p>
        <p>Number of posts: {{ account.posts.count }}</p>
        <hr>
    {% endfor %}


    
</div>
{% endblock %}