{% extends "base.html" %}

{% load cache %}

{% block content %}

<style type="text/css">
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .login-image {
        width: 100%;
        max-width: 400px;
    }

    .vh-100 {
        margin-top: 100px;
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
    }

    .product-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        margin: 10px;
        text-align: center;
        width: 200px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

    .product-card:hover {
        transform: scale(1.05);
    }

    .product-image {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .product-price {
        color: #28a745;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .buy-button {
        background-color: #343a40;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .buy-button:hover {
        background-color: #23272b;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .search-input {
        padding: 10px;
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-right: 10px;
    }

    .search-button {
        background-color: #343a40;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: -5px;
    }

    .search-button:hover {
        background-color: #23272b;
    }

    .filter-button {
        background-color: #343a40;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .search-button:hover,
    .filter-button:hover {
        background-color: #23272b;
    }

    .filter-select {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-left: 10px;
    }

    #cart-preview {
        display: none;
        position: fixed;
        top: 10%;
        right: 10%;
        width: 250px;
        background-color: white;
        border: 1px solid #ddd;
        padding: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    #cart-preview .close-btn {
        display: block;
        text-align: right;
        font-weight: bold;
        cursor: pointer;
    }

    .view-cart-button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 15px;
        background-color: #343a40;
        color: white;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }

    .view-cart-button:hover {
        background-color: #23272b;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        font-size: 16px;
    }

    .pagination .step-links {
        display: flex;
        gap: 10px;
    }

    .pagination a, .pagination .current {
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #343a40;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
    }

    .pagination a:hover {
        background-color: #343a40;
        color: #fff;
    }

    .pagination .current {
        background-color: #343a40;
        color: white;
        font-weight: bold;
    }

    .pagination a[disabled], .pagination .current[disabled] {
        color: #aaa;
        cursor: default;
    }
</style>

<div class="vh-100">
    <h1 class="text-center">Online shop</h1>

    <div class="search-bar">
        <select class="filter-select" onchange="window.location.href=this.value;">
            <option value="?filter=" {% if not promo_filter and not price_filter %}selected{% endif %}>Tous</option>
            <option value="?filter=promo" {% if promo_filter %}selected{% endif %}>Promotions</option>
            <option value="?filter=prix" {% if price_filter %}selected{% endif %}>Prix</option>
        </select>
    </div>

    {% cache 900 "product_list" page_obj.number %}
    <div class="product-container">
        {% for item in page_obj %}
            <div class="product-card">
                <img src="https://www.cdiscount.com/pdt2/4/5/4/1/700x700/mp03089454/rw/casual-chaussure-homme-basket-homme-respirant-d.jpg" 
                     alt="{{ item.name }}" class="product-image" loading="lazy">
                <div class="product-name" name="item-{{ forloop.counter }}">{{ item.name }}</div>
                <div class="product-price" name="price-{{ forloop.counter }}">€{{ item.price }}</div>
                <form action="{% url 'add_to_cart' item.name %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="buy-button" name="buy-button-{{ forloop.counter }}">
                        Buy
                    </button>
                </form>
            </div>
        {% empty %}
            <p>No product found.</p>
        {% endfor %}
    </div>
    {% endcache %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if is_promotion_filter %}&filter=promo{% endif %}">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if is_promotion_filter %}&filter=promo{% endif %}">Before</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if is_promotion_filter %}&filter=promo{% endif %}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if is_promotion_filter %}&filter=promo{% endif %}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<div id="cart-preview">
    <span class="close-btn" onclick="document.getElementById('cart-preview').style.display = 'none';">X</span>
    <h3>My cart</h3>
    <div id="cart-items"></div>
    <hr>
    <p><strong>Total: €<span id="cart-total"></span></strong></p>
    <a href="{% url 'cart_view' %}" class="view-cart-button">Show the cart</a>
</div>

<script>
    function addToCart(productname) {
        fetch(`/add-to-cart/${productId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                showCartPreview(data.cart_items, data.total);
            } else {
                alert('Erreur lors de l\'ajout au panier.');
            }
        });
    }

    function showCartPreview(cartItems, total) {
        let cartItemsContainer = document.getElementById("cart-items");
        let cartTotal = document.getElementById("cart-total");
        cartItemsContainer.innerHTML = "";

        cartItems.forEach(item => {
            cartItemsContainer.innerHTML += `
                <div>
                    <p>${item.product_name} x${item.quantity}</p>
                    <p>Prix: €${item.total_price}</p>
                </div>
            `;
        });

        cartTotal.innerText = total;
        document.getElementById("cart-preview").style.display = "block";
    }
</script>

{% endblock %}
