{% extends "base.html" %}
{% block content %}

<style type="text/css">
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        color: #333;
        margin: 0;
        padding: 0;
        padding-top: 60px; 
    }

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    h1 {
        color: #2c3e50;
        margin-bottom: 20px;
        padding-top: 60px;
    }

    .user-table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .user-table th, .user-table td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: center;
    }

    .user-table th {
        background-color: #34495e; /* Bleu foncé */
        color: #ffffff;
    }

    .user-table tr:nth-child(even) {
        background-color: #f2f2f2; /* Gris clair pour les lignes paires */
    }

    .user-table tr:nth-child(odd) {
        background-color: #e6e6e6; /* Gris un peu plus foncé pour les lignes impaires */
    }

    .user-table tr:hover {
        background-color: #d3d3d3; /* Gris plus foncé pour le survol */
        color: #34495e;
    }

    .user-table td {
        color: #34495e; /* Bleu foncé */
    }

    .pagination {
        margin: 20px 0;
    }

    .pagination a {
        margin: 0 5px;
        padding: 10px 15px;
        border: 1px solid #34495e;
        text-decoration: none;
        color: #34495e;
    }

    .pagination a.active {
        background-color: #34495e;
        color: white;
    }
</style>

<div class="container">
    <h1>Liste of users</h1>

    <div class="search-bar">
        <form method="get">
            <input type="text" class="search-input" name="search" placeholder="Rechercher un utilisateur..." value="{{ search_query }}">
            <button class="search-button" type="submit">🔍</button>
            <select name="filter" class="filter-select" onchange="this.form.submit();">
                <option value="" {% if not filter_admin %}selected{% endif %}>All</option>
                <option value="isAdmin" {% if filter_admin == 'isAdmin' %}selected{% endif %}>Admin</option>
                <option value="isNotAdmin" {% if filter_admin == 'isNotAdmin' %}selected{% endif %}>Not Admin</option>
            </select>
        </form>
    </div>
    
    <table class="user-table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.isAdmin }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No user found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&search={{ search_query|urlencode }}&filter={{ filter_admin|urlencode }}">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}&search={{ search_query|urlencode }}&filter={{ filter_admin|urlencode }}">Before</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&search={{ search_query|urlencode }}&filter={{ filter_admin|urlencode }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search_query|urlencode }}&filter={{ filter_admin|urlencode }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock content %}